.back-button {
    position: absolute;
    bottom: 40px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;

    color: #222;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border: none;
    outline: none;
    background-color: transparent;
    
    cursor: pointer;
    transition-duration: 0.5s;

    &__icon {
        width: 16px;
        height: 8px;
        transform: rotate(-90deg);
        filter: brightness(0);
    }

    &:hover,
    &:focus {
        transition-duration: 0.5s;
        gap: 5px;
    }
}
