.table-empty-plug {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 175px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    &__caption {
        color: #222;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }
}
